extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          |MekanBul
          small &nbsp; Yeni mekanlar keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Dürümle
          small &nbsp;
          span.glyphicon.glyphicon-star    
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star      
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 700m
        p.address  Bahçelievler, Ertokuş Cd. Zabıta Md. D:No:3, 32000, 32000 Isparta Merkez/Isparta  
        p 
          span.label.label-warning ADANA
          | &nbsp;
          span.label.label-warning TAVUK ŞİŞ
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Burç Fırın
          small &nbsp;
          span.glyphicon.glyphicon-star    
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty      
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 900m
        p.address Modern Evler, Şht. Astsubay Yaşar Topçu Cd. No:127, 32200 Isparta Merkez/Isparta
        p 
          span.label.label-warning ÇAY
          | &nbsp;
          span.label.label-warning PASTA
          | &nbsp;
          span.label.label-warning KAHVALTI
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Kadir Usta
          small &nbsp;
          span.glyphicon.glyphicon-star    
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star      
          span.glyphicon.glyphicon-star 
        span.badge.pull-right.badge-default 2,5km
        p.address  İstiklal, 1102. Sk. No:1/35, 32300 Isparta Merkez/Isparta 
        p 
          span.label.label-warning LAHMACUN
          | &nbsp;
          span.label.label-warning ETLİEKMEK     